# fly.toml file for steam-backend
app = "tfg-steam-backend"
primary_region = "gru"

[build]
  dockerfile = "../../Dockerfile"
  target = "steam-backend"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "512mb"